<!DOCTYPE HTML>
<html lang="en">
   <head>
      <link rel="icon" href="/static/RTT.ico">
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <title>Dashboard</title>
      <script src="../static/dashboard.js" charset="utf-8"></script>

   </head>

   <body>
      {% include 'navbar.html' %}
      {% block content %}
      {% endblock %}



   <br><br><br><br><br>
    <button onclick="get_sensordata()">Get sensor data</button>
      <br>


   </body>
</html>