<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Real-Time Telemetry</title>
    <link rel="stylesheet" type="text/css" href="text.css">
    <link rel="icon" href="/static/RTT.ico">
    
</head>

<style type="text/css">
    body{
        background-image: url("/static/VapidDesertedHornbill.gif");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        overflow-y: scroll;
        

    }

    
</style>



<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
</body>
</html>